.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.head {
  background-color: #222;
}
.expensePage {
  background-color: green;
}
.loginPage {
  background-color: blue;
}

.logoutButton {
  margin-right: 50px;
  padding: 20px;
  border-radius: 20px;
  background-color: greenyellow;
  box-shadow: #222 4xp 3px;
}